{{ define "main" }}

<section class="site-project-single-section" style="background-color: #f7f9ff !important;">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-single">
          <h1>
            {{ .Title }}
          </h1>
          <div class="site-project-single-description">
            {{ .Content }}
          </div>
          {{ if .Params.project_images}}
          <div class="glider-contain">
            <button class="glider-prev">«</button>
            <div class="glider">
              {{ range .Params.project_images }}
            <img src="{{ . | absURL }}" alt="project image">
            {{ end }}
            </div>
            <button class="glider-next">»</button>
          </div>
          {{ end }}
        
          {{ if .NextInSection }}
          <div class="site-project-single-action"> 
            <a href="{{.NextInSection.Permalink}}">
              <span class="link-area">
                <span data-text="Next Project">
                  Next Project
                </span>
              </span>
              <img src="{{ "images/to-top.svg" | absURL }}" alt="next project">
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  
</section>

{{ partial "call-to-action.html" . }}

{{ end }}