{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-blog-details">
          <p>
            <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
            {{ with .Params.author }}by <span>{{ . }}</span>{{ end }}
          </p>
          <h2 class="blog-title">{{ .Title }}</h2>

          {{ with .Params.cover }}
          <img class="feature-image" src="{{ . | absURL }}" alt="blog cover"
            fetchpriority="high">
          {{ end }}

          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}
