<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{
    .Title }}</title>
  <meta name="description" content="{{ .Params.description }}">
  <meta name="keywords" content="{{ .Params.keywords }}">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="{{ .Permalink | safeURL }}">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
  <meta property="og:image" content="{{ .Params.image | absURL }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">
  {{ end }}

  <!-- Josefin Sans -->
  <link rel="preload" href="/fonts/josefin-sans-latin-300-normal.woff2"
    as="font"
    type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/josefin-sans-latin-700-normal.woff2"
    as="font"
    type="font/woff2" crossorigin>

  <!-- Montserrat -->
  <link rel="preload" href="/fonts/montserrat-latin-300-normal.woff2"
    as="font"
    type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/montserrat-latin-700-normal.woff2"
    as="font"
    type="font/woff2" crossorigin>

  <!-- CSS -->
  {{ $bootstrap := resources.Get "css/bootstrap.css" | minify }}
  <link rel="preload" href="{{ $bootstrap.Permalink }}" as="style"
    onload="this.rel='stylesheet'" />
  <link rel="preload" href="{{ "font-awesome/css/font-awesome.min.css" |
    absURL }}" as="style"
    onload="this.rel='stylesheet'" />

  <link rel="preload" href="/scss/style.min.css" as="style"
    onload="this.rel='stylesheet'">

  <noscript><link rel="preload stylesheet"
      href="/scss/style.min.css"></noscript>
  {{ $style := resources.Get "scss/style.scss" | toCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="preload stylesheet" />

  {{ range .Site.Params.custom_stylesheets -}}
  {{ $style := resources.Get . | toCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="preload stylesheet" />
  {{- end }}

  <!-- Favicon -->
  <link rel="shortcut icon"
    href="{{ .Site.Params.favicon_shortcut_icon | absURL }}"
    type="image/x-icon" />
  <link rel="icon" href="{{ .Site.Params.favicon_icon | absURL }}"
    type="image/x-icon" />

  <!-- Glider -->
  <link rel="preload" href="{{ "glider/css/glider.min.css" |
    absURL }}" as="style"
    onload="this.rel='stylesheet'" />

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
      (function () {
      var u = "//matomo.pixicode.dev/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
  </script>

  <!-- JSON-LD -->
  <script type="application/ld+json">
{
 "@context":"https://schema.org",
 "@type":"Organization",
 "name":"PixiCode",
 "url":"https://pixicode.dev/",
 "logo":"https://pixicode.dev/images/logo.png",
 "email":"contact@pixicode.dev",
 "telephone":"+33545913857",
 "address":{"@type":"PostalAddress","addressLocality":"Angoulême","postalCode":"16000","addressCountry":"FR"},
 "sameAs":["https://www.linkedin.com/company/pixicode","https://www.instagram.com/pixicode_dev/", "https://www.facebook.com/profile.php?viewas=100000686899395&id=61579743967992", "https://www.tiktok.com/@pixicode"]
}
</script>
</head>