{{ $data := .Site.Data.hero }}
{{ if $data.enable }}
<section class="site-hero">
  <div class="container site-hero-content">
    <h1 class="grand-titre text-white">
      <span class="d-block">{{ $data.title_line1 }}</span>
      <span class="hero-line--mont-italic">{{ $data.title_line2 }}</span>
    </h1>
    <p class="body-text text-white my-4">{{ $data.description }}</p>
    <div class="hero-actions">
      <a href="/about" class="btn-pixi primary">{{ $data.cta_primary_text }}</a>
      <a href="/contact" class="btn-pixi secondary">{{ $data.cta_secondary_text
        }}</a>
    </div>
  </div>
</section>
{{ end }}