{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section de contenu principal -->
<section class="site-expertise section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-11">
        <article class="about-content">
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "clients.html" . }}
{{ partial "team.html" . }}
{{ partial "call-to-action.html" . }}

{{ end }}